.font{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #363434;
}
.background-img {
    background:rgba(147, 147, 151, 0.603) url(pic/cover2.webp);
    font-family: "EB Garamond", serif;
    height: 100vh;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
  
  .background-img h1{
    font-family: 'Garamond Premier Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 20px;
  padding-top: 177px;
  padding-bottom: 38px;
  }
  
  .background-img p{
    font-family: 'Garamond Premier Pro';
      font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  padding-bottom: 58px;
  
  }
  
  .background-img button{
      font-family: 'Poppins';
      padding: 20px 36px;
      background-color: #ffffff;
      border-radius: 1000px;
  }
  .icon-2 {
    padding-left: 2px;
  }
  .box {
    font-family: "EB Garamond", serif;
    margin: 140px;
  }
  .box-3 {
    width: 653px;
    height: 348px;
    background: #e2fafd;
    border-radius: 20px;
    margin-right: 20px;
    
  }
  .circle-6 {
    box-sizing: border-box;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    
    margin: 0 20px 0 29px;
    border: 1px solid #002b5b;
  }

  
  .circle-7 {
    box-sizing: border-box;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    
    background-color: #002b5b;
    border: 1px solid #002b5b;
    
  }
  
  
  
  
  .box-6 {
    padding-bottom: 50px;
  }
  .title-2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 43px;
    color: #002b5b;
  }
  
  .left-align {
    padding-top: 73px;
    padding-left: 30px;
  }
  
  .line {
    font-weight: 400;
    font-size: 13px;
    
    font-family: 'Garamond Premier Pro';
font-style: normal;

  }
  .icon-2 {
    padding-left: 2px;
  }  
  .circle-1 {
    width: 240px;
    height: 240px;
    left: 376px;
    top: 53px;
    background: #a5e4ec;
    border-radius: 500px;
    margin-left: 20px;
  }
  
  .img {
    width: 242px;
    height: 275px;
    margin-top: -20px;
  }
  .box-4 {
    width: 653px;
    height: 348px;
    background: #fff5e4;
    border-radius: 20px;
    
  }
  
  .box-4 button {
    background-color: #002b5b;
    padding: 16px 24px;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Poppins";
    margin-top:20px;
  }
  .box-3 button {
    background-color: #002b5b;
    padding: 16px 24px;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Poppins";
    margin-top:20px;
  }  
  .circle-2 {
    width: 240px;
    height: 240px;
    left: 376px;
    top: 53px;
    background: #ffe7bf;
    border-radius: 500px;
    margin-left: 20px;
  }
  .title {
    font-family: 'Garamond Premier Pro';
    font-size: 55px;
    font-weight: 600;
    font-style: normal;
    line-height: 60px;
    color: #002b5b;
    font-family: "EB Garamond", serif;
    margin-left: px;
  }
  .view {
    
height: 30px;
font-family: 'Garamond Premier Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
    color: #002b5b;
  }
  .heading{
    font-family: 'Garamond Premier Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #002B5B;
    
  }
  .description{
    font-family: 'Poppins';
font-style: normal;
width: 350px;
font-weight: 400;
font-size: 13px;
line-height: 24px;
text-transform: capitalize;
color: #002B5B;

  }
  .efforts{
    width: 260px;
height: 60px;


background: #002B5B;
border-radius: 1000px;
  }
  .circle-3 {
    width: 6.55px;
    height: 6px;
    left: 140px;
    top: 2368px;
    background: #D9D9D9;
    border-radius: 1000px;
  }
  
  .circle-4 {
    width: 16.38px;
    height: 6px;
    left: 152.01px;
    top: 2368px;
    background: #002b5b;
    border-radius: 1000px;
    margin: 0 5.46px;
  }
  
  .circle-5 {
    width: 1000px;
    height: 0px;
    left: 1291px;
    top: 2371px;
    border: 2px solid rgba(128, 157, 255, 0.33);
    transform: rotate(180deg);
    margin-left: 26.6px;
  }
  .materials{
    width: 100%;
    background: linear-gradient(180deg, rgba(64, 123, 255, 0.06) 0%, rgba(244, 247, 255, 0) 100%);
  }
  .circle-8 {
    width: 58px;
    height: 58px;
    background-color: rgb(128, 149, 173);
    border-radius: 500px;
    color: #ffffff;
  }
  
  .circle-9 {
    width: 68px;
    height: 68px;
    background-color: #002b5b;
    border-radius: 500px;
    margin-left: 20px;
    color: #ffffff;
  }
  .img-size {
    width: 50px;
    border-radius: 500px;
    margin-right: 12px;
  }
 .curve{
  border-radius: 16px;
  width: 524px;
height: 320px;
background: #FFFFFF;
 }   
 .content{
 width: 200px;
 font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 23px;
text-transform: capitalize;
color: #363434;
 }
 .end{
  background-color: #f0fbff;
 }
 .group{
  
    height: 261px;

 }
 .support{

  font-family: 'Garamond Premier Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #1D1B1B;
  
  
 }
 .squar{
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
   width: 280px;
    height: 181px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
 }
 
 .brief{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #666666;

 }
  .line-div{
    border-right: 1.5px dashed  #DEDEDE;
    
    width: 1.5px;
    height: 162.5px;
  

  }
  .last{
    


background: #262F3C;
  }
  .last h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 32px;
color: #FFFFFF;

  }
  .details{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;

color: #FFFFFF;
text-decoration: none;

  }
  .vector-group{
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01); cursor: pointer;
            border: 0;
            padding: 0;
            background-color: transparent;
            height: 9.18%;
            
  }
  .english{
    
    
    
    font-size: base;
    font-family:poppins;
    color: #ffffff;
    
  }
  .rectangle{
    width: 85%;
    height: 60px;
   
    background: #222A36;
border-radius: 6px;
  }
  .payment{
    position: absolute;
    
    right: 190px;
  }
  .hello{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    
    
    color: #FFFFFF; 
  }
  .deals{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
width: 180px;
height: 15px;

color: #FFFFFF;
  }
  .order{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;


letter-spacing: 0.177778px;


color: #FFFFFF
  }
  .ellipse{
    position: absolute;
width: 100px;
height: 95px;
left: 600px;

border-radius: 50%;
top: 8px;
background: #FFFFFF;
    
  }
  .ellipse img{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 14px;
    top: 10px;
    


  }
  .logo-end{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   
  
  }
  .search_box{

    height: 48px; background-color: #F8F6F8; border-radius: 10000px; font-family: 'Poppins'; font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  background-image: url(pic/icons8-search-30.png);
                  background-position: 150px 10px; 
  background-repeat: no-repeat;
  }
  .warrenty{
    
    background-color: #F3F7FF;
  }
  .ellipse-parent {
    position: absolute;
    top: 620px;
    left: 500px;
    width: 120.02px;
    height: 120.02px;
    background-color: #ffffff;
    border: 1px solid rgba(12, 45, 90, 0.22);
box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.04);
border-radius: 50%;
}

.group{
  top: 50px;
  left: 37px;

}
.div1{
  
width: 38px;
height: 14px;
align-items: center;
justify-content: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #002B5B;
}
.ellipse-div {
  position: absolute;
  top: 0%;
  
  align-items: end;
  border-radius: 50%;
  border: 1px solid ;
  box-sizing: border-box;
  width: 9.23px;
  height: 9.23px;
  border: 1px solid #002B5B;
}
.gallery{
  box-sizing: border-box;

width: 231.34px;
height: 195px;
left: 249.12px;
top: 0px;

background: #FFFFFF;

border-radius: 7px;
}
.group-parent57 {
  flex-direction: row;
  font-size:small;
  
}
.group-child142 {
  
  border-radius: 50%;
  background-color:#BD2D50;;
  width: 49px;
  height: 49px;
}
.ellipse-parent19 {
  position: relative;
  width: 49px;
  height: 65.76px;
}
.color-name {
  position: absolute;
 text-align: center;
  line-height: 20px;
}
.group-child143 {
  
  border-radius: 50%;
  background-color: #D49854;;
  width: 49px;
  height: 49px;
}
.group-child144 {
 
  
  border-radius: 50%;
  background-color: #DFD7C3;
  width: 49px;
  height: 49px;
}
.color-font{
  height: 17px;color: #151414;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 24px;margin: 20px;
}
.ellipse-101{
  position: relative;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    object-fit: cover;
}
.wicker-name{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;


text-align: center;

color: #666666;



flex: none;
order: 1;
flex-grow: 0;
}
.stock-button{
  border-radius: 120px;
  width: 369px;
height: 70px;
background-color: #F3F7FF;;
}
.cart-button{
  background: #002B5B;
border-radius: 120px;
width: 369px;
height: 70px;

}
.radio-btn{
  background: #002B5B;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

height: 65px;
width: 219px;
left: 0px;
top: 0px;
border-radius: 0px;
padding: 26px 42px 26px 42px;



}
.radio-btn2{
  

align-items: flex-start;
padding: 26px 60px;
gap: 10px;

width: 225px;
height: 65px;

background: #FFFFFF;
border-right: 1px solid #CECECE;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);




}
.radio-btn3{
 
align-items: flex-start;
padding: 26px 32px;
gap: 10px;

width: 148px;
height: 65px;

background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);


}
.ellipse-solid{
      top: 1px;
    left: 0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #002B5B;
}
.ellipse-font{
  color: #666666; font-family: 'Poppins';
          font-style: normal;
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
margin-left:5px ;
}
.furniture{

  margin: 20px;
  width: 1250px;
height: 626px;
background-repeat: no-repeat;
background-image: url(pic/furniture.png);
border-radius: 20px;
background-size: 1250px 626px;
}
.enjoy{
  font-family: 'Poppins';
font-style: normal;
font-size: 24px;
line-height: 50px;

width: 1250px;
height: 67px;
margin: 30px;
margin-left: 60px;

color: #002B5B;

}
.rectangle-04{
  width: 206px;
height: 588px;
border-radius: 15px;

background-size: 206px 588px;
}
.rectangle-05{
  width: 671px;
height: 588px;
border-radius: 15px;
background-image: url(pic/furniture04.png);
background-size: 671px 588px;



font-family: 'Garamond Premier Pro';
font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 60px;



text-transform: uppercase;


color: #FFFFFF;

text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.photo-gallery{
  width: 356px;
  height: 313px;
  background-size: 356px 313px;
  border-radius: 10px;
}
.buyers-btn{
  
padding: 13px 28px;
gap: 13px;

width: 184px;
height: 56px;



background: #002B5B;


border: 1px solid #002B5B;
border-radius: 1000px;


}
.qtn-btn{
  width: 150px;
  height: 56px;
  border: 1px solid #002B5B;
border-radius: 1000px;
}
.review-btn{
  width: 221px;
height: 56px;
left: 532px;
top: 4896px;



background: #002B5B;


border: 1px solid #002B5B;
border-radius: 1000px;
}
.cmnt1{
  width: 1180px;
height: 472px;
left: 139px;
top: 4992px;

background: rgba(227, 227, 227, 0.02);
border: 1px solid rgba(0, 43, 91, 0.1);
border-radius: 10px;
}
.div20{
  
align-items: center;
padding: 10px;
gap: 10px;
width: 33px;
height: 33px;
}
.page-nmbr{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

align-items: center;
letter-spacing: -0.03em;
color: #002B5B;
}
.div20 :hover{
  background-color: #F5F6FF;
  
}
@media screen and (max-width: 768px) {
  .media {
   flex-wrap: wrap;
  }
  .furniture{
    width: 600px;
    height: 400px;
    background-size: 600px 400px;
  }
  .enjoy,
  .para{
    width: 600px;
    height: 700px;
    text-align: center;
  }
  .efforts{
    
    margin-top: 70px;
  }
  .round{
  display: none;
  }
  .vedio-img{
    width: 300px;
  }
  .Envoirment{
    flex-direction: column;
  }
  .nature img{
width: 350px;
  }
}
@media screen and (max-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .background-img h1 {
    font-size: 42px;
  }
  .background-img p {
    font-size: 20px;
  }
  
  
  .title {
    font-size: 48px;
  }
  .view {
    font-size: 18px;
  }
 
  
 
}
.drop{
  background: #FFFFFF;
box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
width: 100%;
height: 565px;
}
.prdct-heading{
  padding: 20px;
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 38px;


text-transform: uppercase;


color: #002B5B;font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 38px;


text-transform: uppercase;



color: #002B5B;
}
.drp-img{
  width: 198.9px;
height: 164px;

}
.card :hover{
background-color: #002B5B;

}
.sofa-set{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
text-align: center;
color: #666666;

}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}